body {
  background-color: hsl(210, 6%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #f0f0f0;
  padding: 20px;
}

.card {
  background-color: #2a2c2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  min-width: content;
  width: 700px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #eaca4c;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

button {
  color: #eaca4c;
}

h1,
h3,
h4 {
  color: #d2d1d1;
  /* display: inline; */
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 1rem 0;
  /* border-bottom: 1px solid #f0f0f0; */
  padding-bottom: 5px;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  align-items: center;
  text-align: center;
}

.play-controls button {
  background-color: #0a0c0d;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  transition: color 0.3s;
  transition: background-color 0.2s;
  color: #eaca4c;
  user-select: none;
}

.play-controls button:hover {
  background-color: #29210e;
}

.play-controls button svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

@keyframes playing-animation {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }
}

.playing {
  animation: playing-animation 1.7s infinite ease-out;
}
